
#light {
  color: #283231;
  background-color: #BFFA00;
}

#dark {
  color: #BFFA00;
  background-color: #283231;
}

h1 {
  font-size: 3em;
}

.navbar {
  background-color: #BFFA00;
}

.navbar .nav > li > a {
    color: #BFFA00;
    background-color: #283231;
}

.navbar .navbar-default .navbar-fixed-top {
  margin-top: 0px;
  margin-bottom: 0px;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #BFFA00;
  background-color: #283231;
}

.navbar-default .navbar-nav .open .dropdown-toggle {
  color: #BFFA00;
  background-color: #283231;
}

.page {
   padding-top: 2%;
   margin-top: -2%;
}

.fieldblock {
  margin-bottom: 2%;
}

.jumbotron {
  color: #BFFA00;
  background-color: #283231;
  margin: 0px 0px 0px 0px;
  height: 500px;
}

.footer li a {
  color: #BFFA00;
}

.footer ul {
  margin-top: 5%;
  list-style-type: none;
}

.copyright {
  margin-top: 5%;
  font-size:
}

.codecademy {
  margin-bottom: 5%;
}

#about {
  color: #283231;
  background-color: #BFFA00;
  margin-left: 5%;
  margin-right: 5%;
}

#wikisearch {
  color: #283231;
  background-color: #BFFA00;
  margin-left: 5%;
  margin-right: 5%;
  font-family: sans-serif;
}

#wcagaaa {
  margin: 10px 10px 10px 10px;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}
