
#light {
  color: #283231;
  background-color: #BFFA00;
}

#dark {
  color: #BFFA00;
  background-color: #283231;
}

.navbar {
  background-color: #BFFA00;
}

.navbar .nav > li > a {
    color: #BFFA00;
    background-color: #283231;
}

.navbar .navbar-default .navbar-fixed-top {
  margin-top: 0px;
  margin-bottom: 0px;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #BFFA00;
  background-color: #283231;
}

.navbar-default .navbar-nav .open .dropdown-toggle {
  color: #BFFA00;
  background-color: #283231;
}

.page {
   padding-top: 40px;
   margin-top: -40px;
}

.jumbotron {
  color: #BFFA00;
  background-color: #283231;
  margin: 0px 0px 0px 0px;
  height: 500px;
}

.codecademy {
  margin: 20px 20px 20px 20px;
}

.footer li a {
  color: #BFFA00;
}

.footer ul {
  list-style-type: none;
}

#about {
  color: #283231;
  background-color: #BFFA00;
  margin-left: 20px;
  margin-right: 20px;
}

#wikisearch {
  color: #283231;
  background-color: #BFFA00;
  margin-left: 20px;
  margin-right: 20px;
  font-family: sans-serif;
}

#wcagaaa {
  margin: 10px 10px 10px 10px;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}
